header
	display: flex
	padding-bottom: 10px
	span
		line-height: 40px

.asLink
	border: none
	background: none
	cursor: pointer
	color: #F1B242
	font-size: inherit
	line-height: initial
	padding: 0

.menu
	margin-left: auto
	line-height: 40px
	.change-token
		margin-right: 22px
	.active
		color: #000;
		cursor: default
		text-decoration: none

.line
	border-bottom: 1px solid #BABABA
	margin-bottom: 35px
	span
		line-height: 35px;
