
/* roboto-regular - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('./fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

*
	box-sizing border-box

html, body
	height 100%

body
	font-size 15px
	font-family Roboto
	margin 0

h3
	color #131313
	font-size 19px
	font-weight normal

#root
	padding 16px

a
	color: #F1B242

input[type="text"],
input[type="number"],
select
	border 1px solid #D5D5D5
	color #878787
	font-size 15px
	font-weight 600
	padding 5px 8px

button
	color white
	border none
	background #3D83BE
	font-size 15px
	line-height 42px
	padding 0 26px
	&:disabled
		opacity 0.7
	cursor pointer

ul.menu
	background white
	border 1px solid #c1c1c1
	list-style none
	margin 42px 0 0 0
	padding 10px 0
	position absolute
	z-index 100

	button
		background white
		color #333
		cursor pointer
		line-height 30px
		padding 0 8px
		text-align left
		width 100%
		&:hover, &:focus
			background #3D83BE
			color white

::placeholder {
	color #878787
}

.expand
	height 100%
	display flex
	flex-direction column
	overflow auto
	flex-grow 1

.right
	margin-left auto

::-webkit-scrollbar
	width 6px
	height 6px

	&-thumb
		border-radius 6px
		background-color rgba(0,0,0,0.4)

		&:hover
			background-color rgba(0,0,0,0.6)
		&:active
			background-color rgba(0,0,0,0.8)
