.container
	width: 640px
	margin: auto

.description
	p
		font-size: 18px

.token
	margin: 55px
	text-align: center

	button
		margin-top 23px
	input
		width 335px

.footer
	text-align center

.error
	color: red
	font-size: 13.33px
