.logo
	img
		width: 207px
	h2
		font-size: 19px
		font-weight: normal
		margin: 0

.big
	text-align: center
	margin-bottom: 30px
	img
		width: auto
		display: inline-block
	h2
		font-size: 32.5px

.left
	margin-right: 12px
	h2
		margin: -7px 0 0 26px
