.container
	display flex
	justify-content space-between

.form
	color #878787
	font-weight bold
	width 100%

	input[type="text"],
	select
		width 100%

	.small
		font-size 13px
		line-height 29px
		padding 0 8px
		vertical-align top
		cursor pointer

	.field
		margin 7px 0 27px 0
		display flex
		button
			flex-shrink 0

	.filesToUpload
		width 100%
		height 100px
		overflow hidden
		overflow-y auto

.uploadSettings
	background white
	padding-right 50px

.threadsCount
	width: 60px;
	height: 28px;
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	border: 1px solid #d5d5d5;

.gray
	background #ACBAC1

.darkgray
	background #4e5456

.yellow
	background #F9DF94
	color #93673C

.footer
	margin-top 16px
	display flex

.debug
	border-left 1px solid #ddd
	padding 0 13px

.reflow
	padding-right 1px

.progressContainer
	width 100%
	height 100%
	border 1px solid #ACBAC1

.progressBar
	background green
	height 100%

.bytesRead
	color #707070
	font-size 14px
	margin-bottom 4px

.marginLeft
	margin-left 5px

.shortWidth
	width 460px

.iconBox
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-white);
	border-radius: var(--border-radius-md);
	border: 2px solid transparent;
	font-size: 1.6em;

.increaseButton
.decreaseButton
	cursor pointer
	margin-right 1px
	background #3D83BE
	&:hover
		background #72aada
	width 60px
	height 28px
	padding 0
	&:focus
		outline none

.uploadPath
	flex-basis 460px