.form
	color #878787
	font-weight bold
	width 453px

	input[type="text"],
	select
		width 100%

	.small
		font-size 13px
		line-height 29px
		padding 0 8px
		vertical-align top
		cursor pointer

	.field
		margin 7px 0 27px 0
		display flex
		button
			flex-shrink 0

	.filesToUpload
		width 100%
		height 100px
		overflow hidden
		overflow-y auto


.gray
	background #ACBAC1

.yellow
	background #F9DF94
	color #93673C

.footer
	margin-top 16px
	display flex

.debug
	border-left 1px solid #ddd
	padding 0 13px

.reflow
	padding-right 1px

.progressContainer
	width 100%
	height 100%
	border 1px solid #ACBAC1

.progressBar
	background green
	height 100%

.bytesRead
	color #707070
	font-size 14px
	margin-bottom 4px

.marginLeft
	margin-left 5px

